h2,h4{
    text-align: center;
    color: aliceblue;
}
a{
    text-align: right;
    color: aliceblue;
}
h5{
    color: aliceblue;
}
input{
    border-radius: 3px;
    border-color: blue;
}
.card{
    opacity: 0.9;
}